.body {
    margin: 0px auto;
    width: 1024px;
    background-color: #FBFBFB;
    font-size: 12px;
    font-family: Sans-Serif;
}
.body .left {
    padding: 5px 15px 5px 0px;
    border-right: 1px solid #E8E8E8;
    text-align: left;
    width: 220px;
    float: left;
}
.body .left .menus .title {
    font-size: 28px;
}
.body .left .menus>li {
    list-style: none;
    font-size: 22px;
    margin-top: 5px;
}
.body .left .menus>li>ul>li {
    list-style: none;
    font-size: 14px;
    margin-top: 5px;
}
.body .left .menus>li>ul>li li{
    list-style: none;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 1em;
}
.body .left ul{
    padding: 0px;
}
.body .left .menus>li {
    margin-top: 20px;
    padding: 2px 0px 2px 0px;
}
.body .left .menus>li>ul {
    border-top: 1px dashed #B0B0B0;
}
.body .right {
    margin: 5px 0px 5px 10px;
    float: left;
    font-size: 1.3em;
    width: 775px;
}

table {
    width: 100%;
    border: 0px solid #FFFFFF;
    background-color: #F8F8F8;
}
table td, table th {
    border: 0px solid #F0F0F0;
}
.table-left {
    width: 30%;
    vertical-align: text-top;
}
.table-left input[type=text] {
    width: 140px;
    border: 0px solid black;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F8F8F8;
}
.table-right input[type=text] {
    width: 220px;
    border: 0px solid black;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F8F8F8;
}
.table-right textarea {
    width: 100%;
    border: 1px solid #E0E0E0;
    background-color: #F8F8F8;
}

/* Images */

img {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    padding: 5px;
    margin: 10px 0 32px 0;
    border: 1px solid #ccc;
}

p img {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
}

/* Code blocks */

code, pre {
    font-family: "Courier New", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#000;
    font-size:14px;
}

pre {
    padding: 4px 12px;
    background: #FDFEFB;
    border-radius:4px;
    border:1px solid #D7D8C8;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 32px;
}